.sobre__mi--info h1{
    color: black;
    font-family: 'Lexend Deca', sans-serif; 
    font-weight:400;
    font-size: 3rem;
}
.sobre__mi--info p{
    color: black;
    font-size: 1.3rem;
    font-family: 'Lexend Deca', sans-serif; 
    width: 50%;
}